@{
    ViewData["Title"] = "Admin Panel";
}
@{
    <div class="main">
        <div class="sidebar">
            <div class="sidebar-group">
                <div class="sidebar-header">
                    <i class="fas fa-wrench title-icon"></i>Quick Actions
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="banner">
                <span class="banner-text">
                    BucHunt Admin Panel
                </span>
            </div>
            <div class="info-box">
                Welcome back, <span class="username"><i class="fas fa-user user-icon"></i>foo@foo.com</span>
            </div>
            <div class="settings-holder">
                <div class="row">
                    <div class="col setting" id="setting-1">
                        <div class="setting-header">
                            <span class="setting-header-text"><i class="fas fa-users title-icon"></i>Users</span>
                        </div>
                        <div class="setting-body">
                            eroperpogpiergpio
                            <p>
                            opkoppkokpo
                            <p>
                            fkierkpofkoperpokf</p>
                        </div>   
                     </div>
                    <div class="col setting" id="setting-2">
                        <div class="setting-header">
                            <span class="setting-header-text"><i class="fas fa-magnifying-glass title-icon"></i>Hunts</span>
                        </div>
                        <div class="setting-body">
                            <div class="hunt-counter">
                                0
                            </div>
                            <div id="huntSubtitle">
                                current active hunts
                            </div>
                            <div class="setting-tools">
                                <button type="button" class="btn btn-outline-primary manage-button">Manage Hunts</button>
                            </div>
                        </div>
                    </div>
                    <div class="col setting" id="setting-3">
                        <div class="setting-header">
                            <span class="setting-header-text"><i class="fas fa-scroll title-icon"></i>Tasks</span>
                        </div>
                        <div class="setting-body">
                            eroperpogpiergpio
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
